name: Terraform Apply User Testing

on:
  push:
    branches:
      - main
    paths:
      - "terraform/aws/**"
      - "terraform/env/user-testing/**"
      - ".github/workflows/terraform-apply-user-testing.yml"

env:
  AWS_REGION: ca-central-1
  TERRAFORM_VERSION: 1.12.2
  TERRAGRUNT_VERSION: 0.81.7
  TF_INPUT: false
  TF_VAR_azure_openai_endpoint: ${{ secrets.USER_TESTING_AZURE_OPENAI_ENDPOINT }}
  TF_VAR_azure_openai_key: ${{ secrets.USER_TESTING_AZURE_OPENAI_KEY }}
  TF_VAR_secret_key_base: ${{ secrets.USER_TESTING_SECRET_KEY_BASE }}

permissions:
  id-token: write
  contents: read

jobs:
  terragrunt-apply:
    runs-on: ubuntu-latest
    steps:

      - name: Audit DNS requests
        uses: cds-snc/dns-proxy-action@f0796e7f3d6bec5d40aecb0321ed8012f5602f84
        env:
          DNS_PROXY_FORWARDTOSENTINEL: "true"
          DNS_PROXY_LOGANALYTICSWORKSPACEID: ${{ secrets.LOG_ANALYTICS_WORKSPACE_ID }}
          DNS_PROXY_LOGANALYTICSSHAREDKEY: ${{ secrets.LOG_ANALYTICS_WORKSPACE_KEY }}

      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup terraform tools
        uses: cds-snc/terraform-tools-setup@5a19984bcb888600ad646e0caf5c6f4d0a54c165 # v1.2.0

      - name: Configure aws credentials using OIDC
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          role-to-assume: arn:aws:iam::${{ vars.USER_TESTING_AWS_ACCOUNT_ID }}:role/valentine-terraform-apply 
          role-session-name: TFApply
          aws-region: ${{ env.AWS_REGION }}

      - name: Apply Terraform
        working-directory: terraform/env/user-testing
        run: terragrunt apply --terragrunt-non-interactive -auto-approve